
<mat-sidenav mode="side" opened class="col-md-2  sidebar">
    <div>
          <button mat-icon-button class="btn  mb-5"><mat-icon>water_drop</mat-icon></button>
    </div>
  <div class="sidebar-icons d-flex flex-column align-items-center">
    <button mat-icon-button class="btn ">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="btn  ">
      <mat-icon>analytics</mat-icon>
    </button>
    <button mat-icon-button class="btn  ">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="btn"><mat-icon>warning</mat-icon></button>
    <button mat-icon-button class="btn"><mat-icon >notifications</mat-icon></button>
  </div>
</mat-sidenav>