<div class="toolbar d-flex justify-content-around align-items-center   text-black p-3 w-100">
    <div class="info-section">
        <i class="material-icons">local_gas_station</i>
        <span>2/3 Monitored Stations</span>
    </div>
    
      <div class="info-section">
        <i class="material-icons">refresh</i>
        <span>20s Last Update</span>
      </div>
    
      <!-- Date Tabs -->
      <div class="date-tabs">
        <button class="tab active">Today</button>
        <button class="tab">Yesterday</button>
        <button class="tab">Last Week</button>
      </div>
    
      <!-- Date Range Pickers -->
      <div class="date-range">
        <div class="date-picker">
          <i class="material-icons">arrow_right</i>
          <div class="date-picks">
              <span>Start date - time</span>
              <i class="material-icons">calendar_today</i>
          </div>
        </div>
        <div class="date-picker">
          <i class="material-icons">stop</i>
          <div class="date-picks">
            <span>End date - time</span>
            <i class="material-icons">calendar_today</i>
          </div>
        </div>
      </div>
    </div>