<nav class="navbar d-flex justify-content-center ">
    <app-navbar></app-navbar>
</nav>

<div class="">
    <div class="row">
        <div class="col-md-1 col-lg-1">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-md-11 col-lg-11 mt-4 ">
            <div class="row">
                <div class="col-md-8">
                    <app-station-list></app-station-list>
                    <app-station-card></app-station-card>
                    <app-station-card></app-station-card>
                </div>
                <div class="col-md-4 ">
                    <app-radar-chart></app-radar-chart>
                    <app-summary-card></app-summary-card>
                    
                </div>
            </div>
         </div>
            
    </div>

</div>

